<div class="lateral-menu">
    <a href="{{ path('homepage') }}">
        <i class="material-icons">
            home
        </i>
        Home
    </a>
    <a href="{{ path('listProducts') }}">
        <i class="material-icons">
            list
        </i>
        Lists Products
    </a>
    <a href="{{ path('createProductsPage') }}">
        <i class="material-icons">
            add_circle_outline
        </i>
        Add Products
    </a>
    <a href="{{ path('excelBulkImportPage') }}">
        <i class="material-icons">
            import_export
        </i>
        Excel Bulk Import
    </a>
    <a href="{{ path('attributesPage') }}">
        <i class="material-icons">
            edit_attributes
        </i>
        Add new attributes
    </a>
    <a href="https://trainingmelbournebicyclecentre.retailexpress.com.au/" target="_blank">
        <i class="material-icons">
            account_balance_wallet
        </i>
        Retail Express
    </a>
    <a href="https://bikes-com-au.myshopify.com/admin" target="_blank">
        <i class="material-icons">
            shopping_cart
        </i>
        Shopify
    </a>
</div>
